<%-include('header')-%>
<p>
    A simple application that lets you manage your life through daily To Do Lists. No need for pen and paper anymore to write down task's for the day!
</p>
<%-include('footer')-%>